h1{
    margin-bottom: 2.5em;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img{
        height: 8em;
    }
    p{
        width: 22em;
        margin: 1em;
    }
    input{
        margin: 1em;
        width: 5em;
    }
}