h1{
    margin-bottom: 2.5em;
}
form{
    display: flex;
    align-items: center;
    margin: 1em;
    justify-content: center;
}
input{
    margin: 1em;
    width: 5em;
}
p{
    margin: 5px;
    border: 1px solid black;
}