<article class="titulo" [routerLink]="['/']">
    <h1>{{ title }}</h1>
    <!-- <img src="../assets/imagen-principal.jpg"/> -->
</article>

<!-- MENU -->
<nav>
    <a class="hoover-nav" [routerLink]="['/']" >Inicio</a>
    <a class="hoover-nav" [routerLink]="['/moviles/smartphones']" >Moviles</a>
    <a class="hoover-nav" [routerLink]="['/ordenadores/laptops']" >Ordenadores</a>
    <a class="hoover-nav" [routerLink]="['/contacto']" >Contacto</a>
    <a class="hoover-nav" [routerLink]="['/admin']" >Admin</a>
</nav>


<router-outlet/>